.loginForm{
    background-color: #ffffffe5;
    width: 12%;
    padding: 0 7%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    padding: 5px 10px;
    margin: 10px 0;
    width: 100%;
    display: block;
}